{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "overrides": [
      {
        "files": ["*.jsx", "*.tsx"],
        "options": {
          "printWidth": 60 
        }
      },
      {
        "files": ["*.js", "*.ts"],
        "options": {
          "printWidth": 80
        }
      }
    ]
  }